services:
  # Create a service named db with container name postgres-spring-boot
  db:
    container_name: postgres-spring-boot
    # Use PostgreSQL Docker image
    image: postgres:latest
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      PGDATA: /var/lib/postgresql/data
    volumes:
      - db:/var/lib/postgresql/data
    ports:
      # Maps container port 5432 to host port 5433
      # The goal is to avoid conflicts if PostgreSQL is running locally on the host
      - "5433:5432"
    networks:
      - db
    restart: unless-stopped

networks:
  db:
    driver: bridge

volumes:
  db:
